*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    background: rgb(12, 148, 172);
    text-align: center;
  }
  
  p {
      color:black;
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
      font-size:14px;
      margin-bottom:15px;
      margin-top:12px;
    padding:10px;
  }
  
  .content{
  text-align:center;
  background-color:white ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
  }
  
  .navbar {
    width:100%;
      overflow: hidden;
      background-color: #981614 ;
      font-family: Arial, Helvetica, sans-serif;
      margin-top:8px;
      height: 40px;
      padding-left: 400px;
  }
  
  .navbar a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 8px 40px;
      text-decoration: none;
      margin-right:13px;
      margin-left:13px;
  }
  
  .dropdown {
      float: left;
      overflow: hidden;
      margin-right:13px;
      margin-left:13px;
  }
  
  .dropdown .dropbtn {
      font-size: 16px;    
      border: none;
      outline: none;
      color: white;
      padding:8px 40px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: #981614;
      color: black;
    cursor:pointer;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #981614;
      min-width: 130px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      float: none;
      color: black;
      padding: 0px 0px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover {
      background-color: white;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
  .active {
    background-color: #717171;
  }
  h1 {
      font-family: "Times New Roman", Times, serif;
      color: #981614;
      font-size: 30px;
      margin-right: 15px;
      display: inline-block;
      margin-bottom: 0;
      padding-top: 2px;
      
  }
  
 